body {
  background-color: floralwhite;
  font-family: sans-serif;
}

p {
  margin: 3%px;
}

h1 {
  font-family: 'Fredoka One', cursive;
  text-align: center;
  font-weight: bold;
  color: tomato;
}

.column {
  width: 16%;
  float: left;
}

.column img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 3px;
}

.column h3 {
  color: darkblue;
  text-decoration: underline;
}

.column li {
  list-style-type: none;
  padding: 10%;
  text-align: justify;
}

.sidebar {
  width: 15%;
  float: right;
  background-color: aquamarine;
  margin: 10px;
}

.column p a {
  color: red;
}